;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[org.clojure/core.match "1.0.0"]
  [hiccups "0.3.0"]
  [funcool/promesa "6.0.2"]]

 :dev-http
 {3000 "public"}

 :builds
 {:app {:target :esm
        :output-dir "dist"
        :modules {:server {:exports {handler app/js-handler}}}
        :compiler-options {:optimizations :advanced}}}}
